@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.rbc-time-gutter {
  font-weight: 500;
}
.rbc-timeslot-group {
  border-bottom: 1.8px dashed #ddd;
}

.rbc-time-content {
  border-top: 1.8px dashed #ddd;
}

.rbc-events-container {
  margin-right: 0;
}

// .rbc-toolbar {
//   span.add-schedule-btn {
//     width: 20px;
//     height: 30px;
//     color: black;
//   }
// }
